footer {
  display: block;
  clear: both;
  width: 100%;
  position: relative;
}
.footer_wrap {
  background-image: url("../image/footer2.png");
  background-size: cover;
}
.footer_wrap {
  margin: 0 auto;
  padding: 80px 50px;
  display: flex;
}
.footer_wrap > div {
  margin-left: 250px;
}
.footer_wrap .footer_content {
  margin-left: 5%;
  width: 85%;
  display: inline-block;
}
.footer_wrap .footer_content_wht {
  color: white;
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 10px;
}
.footer_wrap .footer_content .footer_info_wrap {
  color: #b9b9b9;
  line-height: 25px;
}
.footer_wrap .footer_info {
  display: flex;
  flex-wrap: wrap;
}
.footer_wrap .footer_info p {
  margin: 0;
  width: calc(100% / 2);
}
.footer_wrap .copyright {
  color: #828282;
}
.footer_wrap .footer_info_wrap p a {
  color: #b9b9b9;
}
@media screen and (min-width: 1300px) {
  .footer_wrap .footer_logo {
    margin-left: 250px;
  }
}
@media screen and (max-width: 1299px) {
  .footer_wrap > div {
    margin-left: 0px;
  }
}
@media screen and (max-width: 940px) {
  .footer_wrap .footer_content_wht {
    font-size: 16px;
  }
  .footer_wrap .footer_content .footer_info_wrap {
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  .footer_wrap {
    padding: 40px;
    display: block;
  }
  .footer_wrap .footer_content_wht,
  .footer_info-wrap .copyright {
    font-size: 16px;
  }
  .footer_wrap .footer_logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer_wrap .footer_logo img {
    width: 30%;
    height: auto;
    float: none;
  }
}
@media screen and (max-width: 430px) {
  .footer_wrap {
    padding: 30px 15px;
  }
  .footer_wrap .footer_logo img {
    width: 130px;
    height: auto;
  }
}
