@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 830px;
  z-index: 9999;
  position: relative; z-index: 1;
  background: url("../image/헤더배경.png") no-repeat;
  background-repeat: round;
  padding-top: 30px;
} 

.header .banner-wrap {
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
.header .banner-wrap .img-wrap {
  position: absolute;
  right: 0;
  top: 9%;
}
.header .bannerText-wrap {
  color: #f8f8f8;
  position: absolute;
  top: 25%;
  word-break: normal;
}
.header .bannerText-wrap button {
  color: #f8f8f8;
  font-weight: 600;
  font-size: 20px;
  padding: 10px 25px;
  background: #ffffff2b;
  cursor: pointer;
  border: 1px solid;
}
.header .bannerText-wrap button:hover {
  background: transparent;
}
.header .bannerText {
  padding-bottom: 80px;
}
.header .bannerText p:first-child {
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 35px;
  line-height: 60px;
}
.header .bannerText p:last-child {
  font-weight: 500;
  line-height: 20px;
}
.header .bannerText p:last-child span:nth-child(3) {
  display: block;
}
.wrapper {
  max-width: 100%;
  position: relative;
}
.wrapper .top_wrap > a,
.wrapper #gnb_m > a {
  position: absolute;
  height: 71px;
}
.wrapper .top_wrap > a img {
  left: 170px;
  position: absolute;
  padding: 14px;
  height: 44px;
}
.wrapper .top_wrap > a .header_logo {
  width: 71px;
}
.wrapper .top_wrap > a .header_logo_text {
  width: 150px;
  margin-left: 15px;
}
.wrapper .top_wrap {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
  height: 100%;
}
.wrapper .top_wrap .img-wrap {
  display: block;
  height: auto;
  position: absolute;
  top: 25%;
  padding-left: 15px;
}
.wrapper .top_wrap .img-wrap img {
  width: 240px;
}
@media screen and (max-width:1500px) {
	.header .bannerText-wrap{ padding-left: 2%;}
	.header .banner-wrap .img-wrap{padding-right: 2%;}
}
  @media screen and (max-width:1217px) {
    .header .bannerText p:first-child{font-size: 45px;}
    .header .banner-wrap .img-wrap{top: 11%;}
    .header .banner-wrap .img-wrap img{width: 580px;}
    .header .bannerText p:last-child span:last-child{display: block;}
    .header .bannerText p:last-child span:nth-child(2),
    .header .bannerText p:last-child span:last-child span:last-child {display: block;}
  }
    @media screen and (max-width: 940px){
      /* .header{height: 1000px; background: url(".image/헤더배경940.png") no-repeat; background-position-x: right;} */
      .header .bannerText{padding-bottom: 50px;}
      .header .bannerText p:first-child{font-size: 36px; line-height: 45px;}
      .header .bannerText-wrap{top: 45%;}
      .header .banner-wrap .img-wrap{left: 50%; right: 0; top: 0; transform: translateX(-50%); width: 500px;}
      .header .banner-wrap .img-wrap img{width: 100%;}
      .wrapper .top_wrap{display: inline;}
      .wrapper .top_wrap>a img{ position: unset;}
      .wrapper .top_wrap .img-wrap img {height: 30px; width: 150px;}
    }
      @media screen and (max-width: 640px){
        .header .banner-wrap .img-wrap{width: 400px;}
        .header{height: 800px;}
        .header .bannerText{padding-left: 50px;}
        @media screen and (max-width: 430px){
          .header{height: 640px;}
          .header .bannerText p:first-child{font-size: 24px; line-height: 30px; padding-bottom: 22px;}
          .header .bannerText p:last-child{line-height: 17px; font-size: 15px;}
          .header .bannerText{padding-bottom: 25px;}
          .header .bannerText-wrap button{padding: 8px 20px; font-size: 15px;}
          .header .banner-wrap .img-wrap{width: 300px;}
        }
      }
    