@charset "utf-8";


.map-wrap .map-info a{
    text-decoration: none;
}

.indexKakaoMap{
    width: 60%;
    height: 45vw;
    max-width: 1400px;
    position:relative;
    overflow:hidden; 
    background: url("http://t1.daumcdn.net/mapjsapi/images/2x/bg_tile.png"); 
}

.map-wrap{
    margin: 200px;
    display: flex;
    gap: 75px;
    }

.map-wrap .map-info-wrap{
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 65px;
    visibility:visible;
}


.map-wrap .map-info-wrap .map-info-t{
    font-weight: 600;
    margin: 0 0 10px;
    text-align: left;
}

.map-wrap .map-info-wrap .map-info-p{
    
    font-weight: 549;
    font-size: 18px;
    line-height: 25px;
    color: #7b7b7b;
    padding-bottom: 20px;
    text-align: left;
    
}



@media screen and (max-width: 1300px){
    .map-wrap{
    gap: 50px;
    margin: 200px 20px;}
    .indexKakaoMap{
        height: 650px;
    }
    .map-wrap .map-info-wrap{
        width: 40%;
    }
}

@media screen and (max-width:1217px){
    .indexKakaoMap{
        height: 650px;
    }
    
}


@media screen and (max-width:1140px){
    .map-wrap .map-info-wrap{
        width: 40%;
    }    
}



@media screen and (max-width: 940px){
    .map-wrap{
    gap: 50px;
    }
    .indexKakaoMap{
        width: 90%;
        height: 600px;
    }
    .map-wrap .map-info-wrap .map-info-p{
        font-size: 17px;
        line-height: 25px;
        }
    
}


@media screen and (max-width: 640px){
    .map-wrap{
    flex-direction: column-reverse;
    margin: 0;
    margin-bottom: 300px;
    align-items: center;
    }
    .map-wrap .map-info-wrap{
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    gap: 0;
    width: 90%;
    }
    .map-wrap .map-info-wrap .map-info{
    width: 50%;
    margin-bottom: 50px;
    }

    .map-wrap .map-info-wrap .map-info-p{
    font-size: 15px;
    line-height: 25px;
    }
}


@media screen and (max-width:430px){
    .map-wrap .map-info-wrap{
    flex-direction: column;
    }
    .map-wrap .map-info-wrap .map-info{
    width: 100%;
    margin-bottom:20px;
    }
}
